<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/javascripts/function.js"></script>
    <script src="/javascripts/moment-with-locales.js"></script>
  <% include ../views/maps.ejs %>
  </head>
  <body>
    <div class="container">
      <label for="assetnumber">Asset Number</label>
    <input type="text" class="form-control" id="assetnumber">
    <button type="button" class="btn btn-primary" onclick="getassetdata()">Search</button>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Map</h5>
        <div class="container-fluid">
          <div class="map-responsive" id="map"></div>
        </div>
        
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Asset Number</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
          <th scope="col">Date/Time</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    </div>
  </body>
</html>
